
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*兼容性*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

li {
    list-style: none;
}

em,
i {
    font-style: normal;
}

button {
    border: 0;
    cursor: pointer;
}

area {
    user-select: none;
}

input {
    border: 0;
    outline: 0;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input::-ms-clear {
    appearance: none;
}

/* 关闭密码框的小眼睛 */
input[type=password]::-ms-reveal {
    display: none;
}

/* 隐藏文件框 */
input[type=file] {
    position: absolute;
    display: none;
    z-index: -99;
    left: -2000px;
}

textarea {
    resize: none;
    border: 0;
    outline: none;
}

svg {
    vertical-align: middle;
}

:root {
    --box-shadow-min: 1px 1px 3px 1px #5b5b5b94;
    --box-shadow: 2px 2px 5px 2px #999999a1;
    --box-shadow-inset-min: 1px 1px 5px 0px #414141 inset, -1px -1px 5px 0px #e8e8e8 inset;
    --box-shadow-inset: 2px 2px 8px 0px #414141 inset, -2px -2px 8px 0px #e8e8e8 inset;
    --box-shadow-inset-max: 4px 4px 11px 0px #414141 inset, -4px -4px 11px 0px #e8e8e8 inset;
    --box-shadow-inset-dark-min: 1px 1px 5px 0px #414141 inset;
    --box-shadow-inset-dark: 2px 2px 8px 0px #414141 inset;
    --box-shadow-inset-dark-max: 4px 4px 11px 0px #414141 inset;
    --border-radius-min: 7px;
    --border-radius: 10px;
    --border-radius-max: 13px;
    --huadiao-leave-color: #be2c2c;
    --huadiao-hover-color: #a62727;
    --transition-200ms: all 0.2s;
    --transition-300ms: all 0.3s;
    --transition-400ms: all 0.4s;
    --transition-500ms: all 0.5s;
    --transition-600ms: all 0.6s;
    --transition-1000ms: all 1s;
    --transition-2000ms: all 2s;
    --transition-3000ms: all 3s;
    --transition-4000ms: all 4s;
    --scale-80-percent: scale(0.8);
    --scale-90-percent: scale(0.9);
    --scale-110-percent: scale(1.1);
    --scale-120-percent: scale(1.2);
}
